body {
    background: rgb(255, 113, 156);
}

kbd {
    background: white;
    border: 3px solid rgb(66, 66, 66);
    border-radius: 5px;
    margin-left: 0px;
    font-family: cursive;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.black-keys, .white-keys {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
    max-width: 75vw;
    cursor: pointer;
    
}

.black-keys {
    position: absolute;
    display: flex;
    width: 72.8%;
    left: 12.5%;
    justify-content: space-evenly;
}

.bkeys {
    height: 33vh;
    max-width: 4%;
    z-index: 2;
    background-color: black;
    color: white;
    flex: 1 0;
    justify-content: center;
    margin: 0;
    font-size: 1.3rem;
}

.keys {
    height: 60vh;
    z-index: 1; 
}

.container {
    height: 80vh;
    width: 100%;
    position: relative;
    margin: 12% auto;
}

#E {margin-right: 5%;}

#T {margin-left: 11%;}